@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
:root{
    --color: 254, 70%;
    --l: 66%;
    --theme-primary: hsl(var(--color), var(--l));
    --theme-dark-alt: hsl(var(--color), calc(var(--l) - 3%));
    --theme-dark: hsl(var(--color), calc(var(--l) - 6%));
    --theme-darker: hsl(var(--color), calc(var(--l) - 10%));
    --theme-secondary: hsl(var(--color), calc(var(--l) + 3%));
    --theme-tertiary: hsl(var(--color), calc(var(--l) + 21%));
    --theme-light: hsl(var(--color), calc(var(--l) + 44%));
    --theme-lighter: hsl(var(--color), calc(var(--l) + 49%));
    --theme-lighter-alt: hsl(var(--color), calc(var(--l) + 55%));
    --neutral-white: #201f1f;
    --neutral-lighter-alt: #282727;
    --neutral-lighter: #343232;
    --neutral-lighter-trans: rgba(52, 50, 50, 0.5);
    --neutral-light: #414040;
    --neutral-quintenary-alt: #4a4848;
    --neutral-quintenary: #514f4f;
    --neutral-tertiary-alt: #6f6c6c;
    --neutral-tertiary: #9a9a9a;
    --neutral-secondary-alt: #c8c8c8;
    --neutral-secondary: #dadada;
    --neutral-primary: #fff;
    --neutral-dark: #f4f4f4;
    --neutral-black: #f8f8f8;
    --alert-bg: #bf7500;
    --error-bg: #cd2a19;
    --success-bg: #37844d;
    --theme-dark-font: #fff;
    --theme-primary-font: #fff;
    --theme-light-font: #000;
    --neutral-light-font: #dadada;
    --neutral-light-fontalt: #fff;
    --grey-dark-font: #000;
    --base-font: #dadada;
    --message-font: #fff;
    --alert-font: #ff9d48;
    --error-font: #ff5f5f;
    --success-font: #8eff8d;
    --info-bg: #1e79cb;
    --info-font: #62cfff;
    --theme-lighter-alt-trans: hsla(0, 1%, 15%, 0.4);
    transition: all 2000ms ease-in-out;
    --gradient: radial-gradient(circle at bottom right, rgba(20,24,208,0.5) 30%, rgba(164,70,252,0.40) 50%), radial-gradient(circle at top left, rgba(20,24,208,0.5) 30%, rgba(164,70,252,0.5) 50%);
}
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.9rem;
}
body {
    background-color: var(--neutral-lighter-alt);
    color: mintcream;
}



/*.white-body{
    background-color: white;
    color: black;
}*/

.firstSection{

}

.loanExplain {
    display: inline-block;
    text-align: center;
    margin: 2rem;
    vertical-align: middle;
}

.loanExplain__img {
    max-height: 20rem;
    border-radius: 1rem;
    border: solid 0.1rem black;
}

.description {
    display: inline-block;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    padding: 1.25rem;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0,0,0,0.4);
    background-color: var(--neutral-light);
    border-radius: 1rem;
    color: white;
}

.loanExplainDesc {

    width: 60%;


}

    .loanExplainDesc h4 {
        color: #F09226;
        font-weight: 800;
    }

.plain-section, .color-section{
    padding-block: 4rem;
}
.color-section {
    background-image: var(--gradient);
}

.plain-section{
    background-color: var(--neutral-lighter-alt);
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):active, a:not([href]):not([tabindex]):hover {
    color: #fff;
    cursor: pointer;
}

.link-nav {
    color: #0366d6;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
}

    .link-nav:hover {
        text-decoration: none;
        color: #0056b3;
        /*#0366d6*/
    }

a.link-nav:not([href]):not([tabindex]) {
    color: #0366d6;
    cursor: pointer;
}

    a.link-nav:not([href]):not([tabindex]):active, a.link-nav:not([href]):not([tabindex]):hover {
        color: #0056b3;
        /*#0056b3*/
    }


    .whatIfExplain {
        display: inline-block;
        text-align: center;
        margin: 2rem;
        vertical-align: middle;
        width: 45%;
    }

.whatIfExplain__img {
    max-height: 20rem;
    border-radius: 1rem;
    border: solid 0.1rem black;
}

.whatIfExplainDesc {

    width: 45%;

}

    .whatIfExplainDesc h4 {
        color: #F09226;
        font-weight: 800;
    }

.thirdSection {

}

.DashboardExplain {
    display: inline-block;
    text-align: center;
    margin: 2rem;
    width: 55%;
    vertical-align: middle;
}

.DashboardExplain__img {
    max-height: 20rem;
    width: 100%;
    border-radius: 1rem;
    border: solid 0.1rem black;
}

.DashboardExplainDesc {

    width: 35%;

}

    .DashboardExplainDesc h4 {
        color: #F09226;
        font-weight: 800;
    }

.ctaSection {

}
.cta {
    margin: auto;
    width: 100%;
    text-align: center;
}
.cta-btn{
    text-align:center;

    font-size: 2rem;
    padding: 0.75rem 1.5rem;
    border-radius: 50rem;
}

.flex-auto{
    display: flex;
    max-width: 80rem;
    margin-inline:auto;
    flex-wrap: wrap;
}

.banner {
    color: var(--base-font);
    background-image: var(--gradient);
    background-size: cover;
    display: flex;
    width: 100%;
    height: 60vh;
    padding: 3rem;
    position: relative;
    justify-content: center;
    align-items: center;
}

    .banner h2 {
        font-size: 2rem;
    }

    .banner p {
        font-size: 1.3rem;
    }



.banner > .flex-auto{
    gap: 3rem;
}

.flex-auto .flex-auto{
    flex-direction: column;
    justify-content: center;

    align-items: center;
}

.logo{
    max-width: 18rem;
}

.alt-navbar{
    background-color: var(--neutral-light);
}

.bg-dark {
    background-color: #3E3E42;
}
.container{
    max-width: 80rem;
}
.container-card {
    color: var(--base-font);
    display: grid;
    margin-inline: auto;
    max-width: 25rem;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--neutral-lighter);
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0,0,0,0.7);
}
.edit-card {
    color: var(--base-font);
    display: grid;
    margin-inline: auto;
    /*max-width: 20rem;*/
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--neutral-lighter);
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0,0,0,0.7);
}
.edit-card label{
    margin-bottom: 0;
}
.buttons {
    grid-column: span 3;
    gap: 1rem;
    /* align-self: stretch; */
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    flex-grow: 1;
}
buttons > *{
    flex-basis: 100%;
    flex-grow: 1;
}

.main{
    /*background-color: gray;*/
}

.footer{
    overflow: hidden;
    padding-block: 1rem;

}

.card-container {
    display: grid;
    max-width: 50rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;



    margin:auto auto 1rem;
}

.tableLoan {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--neutral-lighter);
    color: var(--base-font);
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0,0,0,0.7);
}
.table-hover tbody tr:hover {
    color: var(--base-font);
    background-color: rgba(0,0,0,.2);
}
.dashboard {
    color: black;
    text-align: center;
    padding-top: 1rem;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0,0,0,0.7);
    font-size: 1.1rem;
}
.dash-table{
    table-layout:auto;
    width: 80%;
    margin:auto;
}
.dash-table th{
    text-align: center;
    vertical-align:middle;
}

.dash-table td {
    text-align: center;
    vertical-align: middle;
}
.add-loan {
    margin: 0;
    padding: 0;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0,0,0,0.7);
    font-size: 2rem;
}

.table th {
    text-align: center;
}

.tableFixHead {
    overflow-y: auto;
    height: 500px;
    max-width: 100rem;
    margin-inline: auto;
}

.tableFixHead thead tr:nth-child(1) th{
    position: sticky;
    top: 0px;
}

.tableFixHead thead tr:nth-child(2) th {
    position: sticky;
    top: 34px;
}

    .tableFixHead td {
        box-shadow: inset 0.5px -0.5px #acacac;
    }

    .tableFixHead th {
        box-shadow: inset 0.5px 0.5px #acacac, 0 0.5px #acacac;
    }

th, td {
    padding: 8px 16px;
}

th {
    background: var(--neutral-light);
}

.results-container {
    color: var(--base-font);
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--neutral-lighter);
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0,0,0,0.7);
    /*margin-bottom: 1rem;*/
}
.results-container p {
    margin-bottom: 0;
}



tspan {
    fill: var(--base-font);
}

#results-title{
    grid-column-start: span 2;
    margin-bottom: 0;
    font-size: 1.3rem;
    text-align: center;
}
.col-1-grid{
    display:grid;
    justify-content: stretch;
    font-size: 1rem;
}

#base, #additional {
    display: grid;
    max-width: 40rem;
    grid-template-columns: 4fr 2fr;
    /*gap: 1rem;*/
    padding: 1rem;
    border-radius: 0.5rem;  
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0,0,0,0.4);
    /*margin-bottom: 1rem;*/
    color: var(--base-font);
}
#base {
    background-color: var(--info-bg);
}
#additional {
    background-color: var(--success-bg);
}
#basePayments, #additionalPayments{
    grid-column-start: span 2;
    align-self: center;
    margin-inline: auto;
    font-size: 1.4rem;
}

#additionalPayments{
    grid-column-start: span 2;
}



.navbar {
    position: sticky;
    top: 0px;
    z-index: 999;
}

#chartdiv {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--neutral-lighter);
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0,0,0,0.7);
    grid-row-start: span 2;
    width: 100%;
    max-width: 100%;
}

#balanceLabel{
    grid-column-start: 1;
}
#balanceText {
    grid-column-start: 2;
}
#balanceMessage{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: span 2;
}

#rateMessage {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: span 2;
}

#termMessage {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: span 2;
}

#formSubmit, #backBtn {

    flex-basis: 100%;
}


a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    /*display: flex;*/
    align-items: center;
    margin-inline: auto;
    justify-content: space-between;

    
}

.top-flex{
    width: 80rem;
    display: flex;
    align-items: center;
    margin-inline: auto;
    justify-content: space-between;

}

.nav-flex {
    align-items: center;
    display: flex;
    gap: 2rem;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: var(--neutral-light);
        border-bottom: 1px solid var(--neutral-lighter);
        /*justify-content: center;*/
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: var(--gradient);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
/*    padding-top: 1.1rem;*/
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }


    .input-chart {
        display: grid;
        max-width: 100rem;
        grid-template-columns: 1fr 2fr;
        column-gap: 1rem;
        margin-top: 3rem;
        align-items: stretch;
        margin-inline: auto;
    }

    .blank-input-chart {
        display: grid;
        max-width: 100%;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 3rem;
    }

    .results-container {
        display: grid;
        max-width: 40rem;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;

        box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgba(0,0,0,0.4);

    }
    .form-control {
        display: block;
        width: 100%;
        height: auto;
        padding: 0.125rem .75rem;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
/*        padding-left: 2rem !important;
        padding-right: 1.5rem !important;*/
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
