@inherits LayoutComponentBase
@*<AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>*@


<div class="main">
    <div class="top-row px-4 auth navbar alt-navbar">
        <div class="top-flex">
            <a class="navbar-brand" href="">Personal Loan Calculator</a>
            <div class="nav-flex">
                <LoginDisplay />
                <a href="https://github.com/BSchafer01/LoanCalculator" target="_blank"><i class="fab fa-github fa-2x" /></a>
            </div>
        
        </div>
        
    </div>

    <div class="content">
        @Body
    </div>
</div>
