@page "/counter"
@page "/counter/{Start:int}"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [Parameter]
    public int Start { get; set; } 

    private int currentCount = 0;

    protected override void OnParametersSet()
    {
        currentCount = Start;
        base.OnParametersSet();
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
