@page "/loan"
@page "/loan/{LoanId:int}"


<AuthorizeView>
    <Authorized>
        <Calculator loanId="@LoanId"></Calculator>
    </Authorized>
    <NotAuthorized>
        <h3 class="bg-danger">
            You are not authorized to be here!
        </h3>

    </NotAuthorized>
</AuthorizeView>

@code{


    [Parameter]
    public int LoanId { get; set; }

}
